<!DOCTYPE html>
<html>
<head>
  <title>Blocipedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    
    <ul class="nav nav-tabs">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", welcome_about_path %></li>
    
     <div class="pull-right user-info">
      <% if current_user %>
        Signed in as <%= current_user.name %> | <%= link_to "Log Out", '/logout' %>
      <% else %>
        <%= link_to 'Login', '/login' %> | <%= link_to 'Sign Up', '/signup' %>
      <% end %>
    </div>
      
    </ul>
  
    <%= yield %>

</body>
</html>
